* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  

}

.cart__icon {
  font-size: 20px;
}

.navbar__list {
  margin-top: 10px;
  font-weight: 700;
  
}

